cluster = {
  name            = "talos"
  endpoint        = "192.168.10.1"
  gateway         = "192.168.0.1"
  talos_version   = "v1.9.3"
  proxmox_cluster = "pve"
}

image = {
  version = "v1.9.3"
  proxmox_datastore = "local"
  extensions = [
      "i915-ucode",
      "intel-ucode",
      "qemu-guest-agent",
      # see https://longhorn.io/docs/1.6.0/advanced-resources/os-distro-specific/talos-linux-support/
      "iscsi-tools",
      "util-linux-tools"
    ]
}

nodes = {
  "ctrl-01" = {
    host_node     = "pve1"
    machine_type  = "controlplane"
    ip            = "192.168.10.1"
    cidr_prefix   = 16
    mac_address   = "BC:24:11:2E:C8:01"
    vm_id         = 801
    cpu           = 4
    ram           = 4096 #4GB
    datastore_id  = "local-lvm"
    disk_size     = 20
    additional_disks = [{size=500}]
  }
  "work-01" = {
    host_node     = "pve2"
    machine_type  = "worker"
    ip            = "192.168.10.2"
    mac_address   = "BC:24:11:2E:C9:01"
    vm_id         = 810
    cpu           = 4
    ram           = 4096 #4GB
    datastore_id  = "local-lvm"
    disk_size     = 8
    additional_disks = [{size=500}]
  }
}

proxmox = {
  name         = "pve"
  cluster_name = "pve"
  endpoint     = "https://192.168.0.30:8006"
  insecure     = true
  username     = "root"
  # Generate a real token from Proxmox console and add it below. The format is token_id=token_value, so root@pam!terraform in my case is my token id
  api_token    = "root@pam!terraform=00000000-1111-2222-3333-444444444444"
}